{{^is "author"}}<aside class="widget glimmer_about_widget clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>About Me</span></h5>\
    </div>\
    <div class="about-widget">\
        <figure class="author-image-home">\
            <img class="img-responsive" src="assets/images/author-2.jpg" alt="">\
        </figure>\
        <div class="about-description">\
            <h3 class="author-name">Mr. Johan Smith</h3>\
            <p>Lorem ipsum dolor sit amet Cras vitae nibh nisl. Cras etwmaur is egettobsi lorem ultricies ferme ntutbm a in diam. Morbi mollis pellentesque aug uenec rhoncus. Nam ut orci augue. Phase llus ac </p>\
			<a href="#" class="more-link">Continue</a>\
        </div>\
    </div>\
</aside>{{/is}}