<aside class="widget widget_ads clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Add Unit</span></h5>\
    </div>\
    <div class="ads-widget">\
        <a title="ads" href="#">\
            <img src="assets/images/add.jpg" alt="">\
        </a>\
    </div>\
</aside>