<div class="widget widget_contact clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>About</span></h5>\
    </div>\
    <div class="widget-contact">\
    	<div class="contact-logo"></div><div class="clear"></div>\
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras et mauris eget lorem ultricies fermentum  diam.</p>\
        <div class="widget-contact-em-mb"></div>\
    </div>\
</div>