<aside class="widget widget_facebook clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Facebook</span></h5>\
    </div>\
    <div class="facebook-widget"></div>\
</aside>