<aside class="widget widget_flickr clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Flicker Images</span></h5>\
    </div>\
    <div class="flicker-widget">\
        <ul class="glimmer_flickr_album flickr"></ul>\
    </div>\
</aside>