<aside class="widget widget_googleplus clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Google Plus</span></h5>\
    </div>\
    <div class="googleplus-widget"></div>\
</aside>