<aside class="widget glimmer_latest_post_widget clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Latest Post</span></h5>\
    </div>\
    <div class="widget-feed">\
    </div> \
</aside>