<aside class="widget widget_nav_menu hidden">\
    <div class="widget-title-area">\
        <h4 class="widget-title"><span>Navigation</span></h4>\
    </div>\
    <ul class="menu"> {{navigation}} </ul>\
</aside>