<aside class="widget widget_follow_us hidden">\
	<div class="widget-title-area">\
	    <h4 class="widget-title"><span>Follow Us</span></h4>\
	</div>\
	<div class="follow-us-area"></div>\
</aside>