<aside class="widget widget_tag_cloud clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Tag Cloud</span></h5>\
    </div>\
    <div class="tagcloud"></div>\
</aside>