<aside class="widget widget_twitter clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Twitter Feed</span></h5>\
    </div>\
    <div class="twitter-widget"></div>\
</aside>